
/* Sätter vad backgrundsfärgen kommer vara. */
body {
    background-color:rgb(125, 202, 125) 
}



/* Classen för att styla välkommningstiteln. */
.welcome-title {

    position: relative;
    background-color: rgb(74, 196, 186);
    width: 99%;
    line-height: 60px;
    border-radius: 10%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;

}

/* alignar bilder i mitten av skärmen */
 
.middle-align-img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}

/* alignar bilder i mitten av skärmen fast med några ändringar från middle-align-img*/
 
.middle-align-small-img {
    display: block;
    width: 30%;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
}

/* alignar text i mitten av bilden */
.middle-align-text {
    display: block;
    margin-left: 35%;
    margin-right: auto;
    background-image: "sthml.png";
}


/* alignar text i mitten av bilden, samt ger en backgrundsbild (eller backgrundsgif) */
.middle-align-text-with-background {
    display: block;
    margin-left: 35%;
    margin-right: auto;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Color_changing_gradient_rainbow.gif);
    background-repeat: no-repeat;
}